<!-- The Modal -->
<div id="buyPromotionModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>

      

      <form action="/promotion/buy" method="POST">
        promotionCode:
        <input type="text" name="_id" value="" />
        <br />
        productCode:
        <input type="text" name="productCode" value="" />

        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
</div>