<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Insert</h1>
      <form action="/action_page.php" id="usrform">
        ID:
        <input type="number" name="id" value="Mickey" />
        <br />
        Name:
        <input type="text" name="name" value="Mouse" />
  
        <br />
        Contact first name:
        <input type="text" name="conFname" value="Mickey" />
        <br />
        Contact last name:
        <input type="text" name="conLname" value="Mickey" />
        <br />
        Phone number:
        <input type="text" name="phone" value="Mickey" />
        <br />
        Address Line 1:
        <textarea rows="4" cols="50" name="addr1" form="usrform"></textarea>
        <br />
        Address Line 2:
        <textarea rows="4" cols="50" name="addr2" form="usrform"></textarea>
        <br />
        City:
        <input type="text" name="city" value="Mickey" />
        <br />
        State:
        <input type="text" name="state" value="Mickey" />
        <br />
        Postal code:
        <input type="number" name="postal" value="Mickey" />
        <br />
        Country:
        <input type="text" name="country" value="Mickey" />
        <br />
        Employee Number:
        <input type="number" name="EmpNum" value="Mickey" />
        <br />
        Credit limit:
        <input type="number" name="creditLim" value="Mickey" />
        <br />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
</div>