<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
  
      <form action="/post/employee" method="POST">
        Name:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        Extension:
        <input type="text" name="lastname" value="Mouse" />
  
        <br />
        Office Code:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        Report:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        Phone number:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        Email:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        Job Type:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
</div>