<% include header.ejs %>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="mainCard">
        <img src="/images/dogtest.jpg" alt="" class="avatar" />
        <div class="empDetail">
          <h6>em.id</h6>
          <h6>FirstnameLastname</h6>
          <h6>email@classicsmodelcars.com</h6>
          <h6>Job Title</h6>
          <h6>offices.city</h6>
        </div>
        <div class="empButton mb-4">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-success">Update</button>
              </div>
              <div class="col-sm">
                <button type="button" id="delEmpBtn" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <img src="/images/card.svg" alt="" class="card" />
      </div>
    </div>
    <div class="col-sm">
      <div class="mainCard">
        <img src="/images/card.svg" alt="" class="card" />
      </div>
    </div>
    <div class="col-sm">
      <div class="mainCard">
        <img src="/images/card.svg" alt="" class="card" />
      </div>
    </div>
  </div>
</div>
<a href="#">
  <img class="addMenu" id="myBtn" src="/images/addMenu.svg" alt="" />
</a>

<h1 style="margin-top: 5000px;">helllo</h1>

<% include EmployeeModal.ejs %>
<% include EmployeeDeleteModal.ejs %>


<script src="/javascripts/modal.js"></script>
<% include footer.ejs %>
