<!-- The Modal -->
<div id="delEmpMod" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
  
      <form action="/del/employee" method="POST">
        <h1>Delete</h1>
        <h4>Are you to delete this customer account?</h4>
        <button type="button"  class="btn btn-success" id="canDel" >No</button>
        <input type="submit" value="yes" />
      </form>
    </div>
</div>