<div id="AddModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Insert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/employee/add" method="POST">
                    Employee ID:
                    <input type="number" name="firstname" value="" />
                    <br /> FirstName:
                    <input type="text" name="firstname" value="" />
                    <br /> LastName:
                    <input type="text" name="lastname" value="" />
                    <br /> Extension:
                    <input type="text" name="Extension" value="" />
                    <br /> Password:
                    <input type="text" name="password" value="" />
                    <br /> Office Code:
                    <input type="text" name="Officecode" value="" />
                    <br /> Report:
                    <input type="number" name="Report" value="" />
                    <br /> Email:
                    <input type="text" name="email" value="" />
                    <br /> Job Type:
                    <input type="text" name="job" value="" />
                    <br />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>