<!-- The Modal -->
<div id="delEmpMod" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
  
      <form action="/action_page.php">
        <button type="button"  class="btn btn-success">No</button>
        <input type="submit" value="yes" />
      </form>
    </div>
</div>