<!-- The Modal -->
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>

      

      <form action="/employee/update/<%= emp.employeeNumber %>" method="POST">
        firstName:
        <input type="text" name="firstname" value="Mickey" />
        <br />
        lastName:
        <input type="text" name="lastname" value="Mickey" />
        <br />
        Extension:
        <input type="text" name="Extension" value="Mouse" />
  
        <br />
        Password:
        <input type="text" name="password" value="Mickey" />
        <br />
        employeeNumber:
        <input type="text" name="employeenumber" value="Mickey" />
        <br />
        Office Code:
        <input type="text" name="Officecode" value="Mickey" />
        <br />
        Report:
        <input type="text" name="Report" value="Mickey" />
        <br />
        
        Email:
        <input type="text" name="email" value="Mickey" />
        <br />
        Job Type:
        <input type="text" name="job" value="Mickey" />
        <br />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
</div>