<% include header.ejs %>
<!-- Modal -->


<!-- End login -->

<!-- Sort menu -->

<div class="Lmenu" id="inline">
  <div class="HLmenu">
    <p class="HLmenu">Product Scale</p>
    <br><br>
    <input  class="style_CH" type="checkbox" value="" id="defaultCheck1">
      <label class="style_CH" for="defaultCheck1">
        1 : 10
      </label>
    <br>
    <input  class="style_CH" type="checkbox" value="" id="defaultCheck1">
      <label class="style_CH" for="defaultCheck1">
        1 : 12
      </label>
      <br>
    <input  class="style_CH" type="checkbox" value="" id="defaultCheck1">
      <label class="style_CH" for="defaultCheck1">
        1 : 14
      </label>
    <br>
    <input  class="style_CH" type="checkbox" value="" id="defaultCheck1">
      <label class="style_CH" for="defaultCheck1">
        1 : 24
      </label>
  </div>
  <div class="HLmenu HLmenu2">
      <p class="HLmenu">Product Vender</p>
      <br><br>
      <input  class="style_CH" type="checkbox" value="" id="defaultCheck1">
        <label class="style_CH" for="defaultCheck1">
          A
        </label>
      <br>
      <input  class="style_CH" type="checkbox" value="" id="defaultCheck2">
        <label class="style_CH" for="defaultCheck2">
          B
        </label>
        <br>
      <input  class="style_CH" type="checkbox" value="" id="defaultCheck3">
        <label class="style_CH" for="defaultCheck3">
          C
        </label>
      <br>
      <input  class="style_CH" type="checkbox" value="" id="defaultCheck4">
        <label class="style_CH" for="defaultCheck4">
          D
        </label>
    </div>
</div>

<!-- Big Picture -->
    <img src="images/Image_1.svg" alt="pic" width="1024" class="bigPic" id="inline">

<!-- List of Product -->
<div class="listPD">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
    <img src="images/Image_1.svg" alt="pic" width="300" class="margin-pd">
  </div>
<br>

<% include footer.ejs %>