<!-- The Modal -->
<div id="loginMod" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h5 class="modal-title">Log in</h5>
    <div class="modal-body">
      <form action="/login" method="POST">
      <div class="form-group">
        <div class="row my-2">
          <label for="username" class="col-12 col-sm-3 text-sm-right my-auto"
            >Username :</label
          >
          <input
            id="username"
            formControlName="username"
            name="username"
            type="text"
            class="form-control col-12 col-sm-6 col-md-3"
            [(ngModel)]="username"
          />
          <!-- <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)"
                        class="offset-12 col-sm-6 col-md-3 my-auto">
                          <div *ngIf="angForm.controls['username'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your username.</small></div>
                        </div> -->
        </div>
      </div>
      <div class="form-group">
        <div class="row my-2">
          <label for="password" class="col-12 col-sm-3 text-sm-right my-auto"
            >Password :</label
          >
          <input
            id="password"
            formControlName="password"
            name="password"
            type="password"
            class="form-control col-12 col-sm-6 col-md-3"
            [(ngModel)]="password"
            placeholder="password"
          />
          <!-- <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
                        class="offset-12 col-sm-6 col-md-3 my-auto">
                          <div *ngIf="angForm.controls['password'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your password.</small></div>
                        </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-default"
        style="background-color: #adc5d3"
        data-dismiss="modal"
      >
        Log in
      </button>
    </div>
  </form>
  </div>
</div>

<div
  id="loginMod"
  data-backdrop="true"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"></div>
  </div>
</div>
