<% include header.ejs %>
<p></p>
<script src ="http://kit.fontawesome.com/a076d05399.js"></script>

<head> 
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/order.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="text-color p-4 col-12">
    <h4 class=" font-weight-bold page-header d-none d-sm-block">Order Details</h4>
    <h6 class=" font-weight-bold page-header d-sm-none">Order Details</h6>
    <hr>
    
    <form [formGroup]="angForm" novalidate class="col-10 mx-0 content-text">
      <div class="form-group">
        <div class="row my-2">
          <label for="orderNumber" class="col-12 col-sm-3 text-sm-right my-auto">Order Number :</label>
          <input id="orderNumber" name="orderNumber" type="text"
          class="form-control col-12 col-sm-6 col-md-3" disabled>
          <!-- <div *ngIf="angForm.controls['itemCode'].invalid && (angForm.controls['itemCode'].dirty || angForm.controls['itemCode'].touched)"
          class="offset-12 col-sm-6 col-md-3 my-auto">
            <div *ngIf="angForm.controls['itemCode'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your item code.</small></div>
          </div> -->
        </div>
      </div>
    
      <div class="form-group">
        <div class="row my-2">
          <label for="customerId" class="col-12 col-sm-3 text-sm-right my-auto">Customer ID :</label>
          <input id="customerId" name="customerId" type="text"
          class="form-control col-12 col-sm-6 col-md-3" disabled>
          <!-- <div *ngIf="angForm.controls['line'].invalid && (angForm.controls['line'].dirty || angForm.controls['line'].touched)"
          class="offset-12 col-sm-6 col-md-3 my-auto">
            <div *ngIf="angForm.controls['line'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your line.</small></div>
          </div> -->
        </div>
      </div>
    
      <div class="form-group">
        <div class="row my-2">
          <label for="status" class="col-12 col-sm-3 text-sm-right my-auto">Status :</label>
          <input id="status" name="status" type="text"
          class="form-control col-12 col-sm-6 col-md-3" disabled>
          <!-- <div *ngIf="angForm.controls['itemSub'].invalid && (angForm.controls['itemSub'].dirty || angForm.controls['itemSub'].touched)"
          class="offset-12 col-sm-6 col-md-3 my-auto">
            <div *ngIf="angForm.controls['itemSub'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your item sub.</small></div>
          </div> -->
        </div>
      </div>

      <div class="form-group">
        <div class="row my-2">
          <label for="requiredDate" class="col-12 col-sm-3 text-sm-right my-auto">Required Date :</label>
          <input id="requiredDate" name="requiredDate" type="text"
          class="form-control col-12 col-sm-6 col-md-3" disabled>
          <!-- <div *ngIf="angForm.controls['qty'].invalid && (angForm.controls['qty'].dirty || angForm.controls['qty'].touched)"
          class="offset-12 col-sm-6 col-md-3 my-auto">
            <div *ngIf="angForm.controls['qty'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your qty.</small></div>
          </div> -->
        </div>
      </div>
    
      <div class="form-group">
        <div class="row my-2">
          <label for="data" class="col-12 col-sm-3 text-sm-right my-auto">Data :</label>
          <input id="data" name="data" type="text"
          class="form-control col-12 col-sm-6 col-md-3" disabled>
          <!-- <div *ngIf="angForm.controls['wareHouse'].invalid && (angForm.controls['wareHouse'].dirty || angForm.controls['wareHouse'].touched)"
          class="offset-12 col-sm-6 col-md-3 my-auto">
            <div *ngIf="angForm.controls['wareHouse'].errors.required" class="my-auto" style="color: crimson"><small><strong>X</strong> Please enter your warehourse.</small></div>
          </div> -->
        </div>
      </div>
    </form>
    <hr>
    <div class ="form-group col-12 col-md-12 px-0 d-flex">
        <button id="save_button" type="button" class="btn btn-outline-primary btn-sm ml-auto mr-1">Edit</button>
        <button id="save_button" type="button" class="btn btn-outline-primary btn-sm my-auto mr-1">Payment</button>
    </div>
    <div class="col-12 px-0 table-height">
        <table class=" col-12 px-0 table table-bordered table-sm">
            <thead style="background-color: #757574 ; color : white">
                <tr>
                    <th scope="col">Product Code</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Price</th>
                    <th scope="col">Order Line Number</th>
                    <th scope="col">Promotion Number</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Shipped Date</th>
                    <th scope="col">Payment Date</th>
                    <th scope="col">Check Number</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody style="background-color: #ccccc8 ; color : black">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<% include footer.ejs %>