<% include header.ejs %>
<p></p>
<div>
  <table class="table color" style="width:100%">
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Product Code</th>
      <th scope="col">Custumer ID</th>
      <th scope="col">QTY</th>
      <th scope="col">Pitce</th>
      <th scope="col">Status</th>
      <th scope="col">Required</th>
      <th scope="col">Data</th>
      <th scope="col"></th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>
        <% include orderUpdate.ejs %>
        <button type="button"><i class="fa fa-trash"></i></button>
        <% include orderPayment.ejs %>
      </td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>
        <% include orderUpdate.ejs %>
        <button type="button"><i class="fa fa-trash"></i></button>
        <% include orderPayment.ejs %>
      </td>
    </tr>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>
        <% include orderUpdate.ejs %>
        <button type="button"><i class="fa fa-trash"></i></button>
        <% include orderPayment.ejs %>
      </td>
    </tr>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>
        <% include orderUpdate.ejs %>
        <button type="button"><i class="fa fa-trash"></i></button>
        <% include orderPayment.ejs %>
      </td>
    </tr>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>
        <% include orderUpdate.ejs %>
        <button type="button"><i class="fa fa-trash"></i></button>
        <% include orderPayment.ejs %>
      </td>
    </tr>
  </table>
</div>
<% include orderAdd.ejs %>
<% include footer.ejs %>