<!-- Button to Open the Modal -->
<button type="button" class="buttonAdd button5 addMenu" id="AddBtn">
    Add
</button>
<!-- The Modal -->
<div class="modal" id="AddModal">
    <div class="">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="blackFont">Insert</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="blackFont">
                Order ID:
                <input type="text" name="firstname" value="Mickey" />
                <br />
                <p></p>
                Customer Phone:
                <input type="text" name="lastname" value="Mouse" />
                <br />
                <p></p>
                <div class="input-group mb-3">
                    Product code:
                    <input type="text" name="firstname" value="Mickey">
                    <div class="input-group-append">
                        <button class="blackFont" type="button"><i class="fa fa-ellipsis-h"></i></button>
                    </div>
                </div>
                <br /> Quantity ordered:
                <input type="text" name="firstname" value="Mickey" />
                <br />
                <p></p>
                <div class="input-group mb-3">
                    Data:
                    <input type="text" name="firstname" value="Mickey">
                    <div class="input-group-append">
                        <button class="blackFont" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
                <br /> Shipped Date:
                <input type="text" name="firstname" value="Mickey" />
                <br />
                <p></p>
                <div class="input-group mb-3">
                    Required Date:
                    <input type="text" name="firstname" value="Mickey">
                    <div class="input-group-append">
                        <button class="blackFont" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
                <br /> Commentse:
                <input type="text" name="firstname" value="Mickey" />
                <br />
                <p></p>
                <h>Receive point: Total point:</h>
                <p></p>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- 

<div class="container">
    <h2>Small Modal</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a small modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->