<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#productCodeModal">...</button>
<div class="modal" id="productCodeModal" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="blackFont">Payment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="p-4 col-12">
                    <h4 class=" font-weight-bold page-header">Order</h4>
                    <hr>
                    <table class="table table-bordered table-sm">
                        <thead style="background-color: #757574 ; color : white">
                            <tr>
                                <th style="width: 10%">Product Code</th>
                                <th style="width: 10%">Product Name</th>
                                <th style="width: 10%">Product Scale</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: #ccccc8 ; color : black">
                            <tr data-dismiss="modal">
                                <td>10254</td>
                                <td>Teddy Bear</td>
                                <td>1 : 14</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
