<div id="AddModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Insert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/product/add" method="POST">
                    <br /> ID:
                    <input type="text" name="id" value="" />
                    <br /> productName:
                    <input type="text" name="productname" value="" />
                    <br /> productScale:
                    <input type="text" name="productscale" value="" />
                    <br /> productVendor:
                    <input type="text" name="productvendor" value="" />
                    <br /> productLine:
                    <input type="text" name="productline" value="" />
                    <br /> quantityInStock:
                    <input type="Number" name="quantityinStock" value="" />
                    <br /> MSRP:
                    <input type="Number" name="msrp" value="" />
                    <br /> buyPrice:
                    <input type="Number" name="buyprice" value="" />
                    <br /> productDescription:
                    <input type="text" name="description" value="" />
                    <br />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>