<div id="UpdateModal" class="modal" tabindex="-1" role="dialog">
    <div class="" role="document">
        <div class="modal-content" style="width: 1000px !important;">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="/product/update/<%= emp._id %>" method="POST">
                    <br /> productName:
                    <input type="text" name="productname" value="Mickey" />
                    <br /> productScale:
                    <input type="text" name="productscale" value="Mickey" />
                    <br /> productVendor:
                    <input type="text" name="productvendor" value="Mickey" />
                    <br /> productLine:
                    <input type="text" name="productline" value="Mickey" />
                    <br /> htmlDescription:
                    <input type="text" name="htmlDescription" value="Mickey" />
                    <br /> image:
                    <input type="text" name="image" value="Mickey" />
                    <br /> textDescription:
                    <input type="text" name="textDescription" value="Mickey" />
                    <br /> quantityInStock:
                    <input type="text" name="quantityinStock" value="Mickey" />
                    <br /> MSRP:
                    <input type="text" name="msrp" value="Mickey" />
                    <br /> buyPrice:
                    <input type="text" name="buyprice" value="Mickey" />
                    <br /> productDescription:
                    <input type="text" name="description" value="Mickey" />
                    <br />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="Submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>