<!-- The Modal -->
<div id="AddModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>



        <form action="/product/add" method="POST">
            <br /> ID:
            <input type="text" name="id" value="Mouse" />
            <br /> productName:
            <input type="text" name="productname" value="Mickey" />
            <br /> productScale:
            <input type="text" name="productscale" value="Mickey" />
            <br /> productVendor:
            <input type="text" name="productvendor" value="Mickey" />
            <br /> productLine:
            <input type="text" name="productline" value="Mickey" />
            <br /> htmlDescription:
            <input type="text" name="htmlDescription" value="Mickey" />
            <br /> image:
            <input type="text" name="image" value="Mickey" />
            <br /> textDescription:
            <input type="text" name="textDescription" value="Mickey" />
            <br /> quantityInStock:            
            <input type="text" name="quantityinStock" value="Mickey" />
            <br /> MSRP:
            <input type="text" name="msrp" value="Mickey" />
            <br /> buyPrice:
            <input type="text" name="buyprice" value="Mickey" />
            <br /> productDescription:
            <input type="text" name="description" value="Mickey" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>