<% include header.ejs %>
    <% include stockModal.ejs %>
        <div class="p-4 col-12">
            <h4 class=" font-weight-bold page-header">Stock Product</h4>
            <hr>
            <table class="table table-bordered table-sm">
                <thead style="background-color: #757574 ; color : white">
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Product Line</th>
                        <th>Scale</th>
                        <th>Product Vendor</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody style="background-color: #ccccc8">
                    <tr>
                        <td>DL2591</td>
                        <td>Teddy Bear</td>
                        <td>Doll</td>
                        <td>1 : 14</td>
                        <td>C</td>
                        <td>30</td>
                        <td>699 </td>
                        <td>
                            <div class="row m-0">
                                <div class="d-flex">
                                    <button type="button" class="btn btn-outline-dark" id="UpdateBtn">
                <i class="fa fa-pen"></i></button>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-outline-dark" id="DelBtn">
                <i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <% include stockModalupdate.ejs %>
                <% include stockDel.ejs %>
                    <a href="#">
                        <img class="addMenu" id="AddBtn" src="/images/addMenu.svg" alt="" />
                    </a>
                    <script src="/javascripts/stockProduct.js"></script>
                    <script src="/javascripts/modal.js"></script>
                    <% include footer.ejs %>
