<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#orderDelete<%= or.orderNumber %>"><i class="fa fa-trash"></i></button>

<!-- The Modal -->
<div class="modal" id="orderDelete<%= or.orderNumber %>" data-backdrop="false">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="blackFont">Delete</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Do you want to delete this order number?
                <!-- Modal footer -->
                <div class="modal-footer">
                    <form action="/order/del/<%= or.orderNumber %>" method="POST">
                        <button type="button"  class="btn btn-success" id="canDel" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>