<!-- Button to Open the Modal -->

<button type="button" class="buttonAdd button5 ml-auto mr-1 pull-right" data-toggle="modal" data-target="#addOrderModal">
    Add
</button>
<!-- The Modal -->
<div class="modal" id="addOrderModal" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="blackFont">Insert</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/order/add" method="POST">
                <div class="row my-2">
                    <label for="orderNumber" class="col-12 col-sm-3 text-sm-right my-auto">Order Number :</label>
                    <input id="orderNumber" name="orderNumber" type="text"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="customerNumber" class="col-12 col-sm-3 text-sm-right my-auto">Customer Number :</label>
                    <input id="customerNumber" name="customerNumber" type="text"
                    class="form-control col-12 col-sm-6 col-md-6">
                    <div class="input-group-append">
                        <% include customerNumberModals.ejs %>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="input-group">
                        <label for="productCode" class="col-12 col-sm-3 text-sm-right my-auto">Product Code :</label>
                        <input id="productCode" name="productCode" type="text"
                        class="form-control col-12 col-sm-6 col-md-6">
                        <!-- <div class="input-group-append">
                            <% include productCodeModals.ejs %>
                        </div> -->
                    </div>
                </div>
                <div class="row my-2">
                    <label for="status" class="col-12 col-sm-3 text-sm-right my-auto">Status :</label>
                    <select id="status" name="status" type="date"
                    class="form-control col-12 col-sm-6 col-md-6">
                    <option>Choose 1 status</option>
                    <option>Cancelled</option>
                    <option>Disputed</option>
                    <option>In Process</option>
                    <option>On Hold</option>
                    <option>Resloved</option>
                    <option>Shipped</option>
                    </select>
                </div>
                <div class="row my-2">
                    <label for="qty" class="col-12 col-sm-3 text-sm-right my-auto">Quantity Ordered :</label>
                    <input id="qty" name="qty" type="number"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="priceEach" class="col-12 col-sm-3 text-sm-right my-auto">Price Each :</label>
                    <input id="priceEach" name="priceEach" type="text"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="orderLineNumber" class="col-12 col-sm-3 text-sm-right my-auto">Order Line Number :</label>
                    <input id="orderLineNumber" name="orderLineNumber" type="text"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="promotionNumber" class="col-12 col-sm-3 text-sm-right my-auto">Promotion Number :</label>
                    <input id="promotionNumber" name="promotionNumber" type="text"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="orderDate" class="col-12 col-sm-3 text-sm-right my-auto">Order Date :</label>
                    <input id="orderDate" name="orderDate" type="date"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="shippedDate" class="col-12 col-sm-3 text-sm-right my-auto">Shipped Date :</label>
                    <input id="shippedDate" name="shippedDate" type="date"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="requiredDate" class="col-12 col-sm-3 text-sm-right my-auto">Required Date :</label>
                    <input id="requiredDate" name="requiredDate" type="date"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="receivePoint" class="col-12 col-sm-3 text-sm-right my-auto">Receive Point :</label>
                    <input id="receivePoint" name="receivePoint" type="text" value="Total Point"
                    class="form-control col-12 col-sm-6 col-md-6">
                </div>
                <div class="row my-2">
                    <label for="comments" class="col-12 col-sm-3 text-sm-right my-auto">Comments :</label>
                    <textarea id="comments" name="comments" type="text"
                    class="form-control col-12 col-sm-6 col-md-6" rows="3"></textarea>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" value="Submit">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
