<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#customerNumberModal">...</button>
<div class="modal" id="customerNumberModal" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Customer Number</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="p-4 col-12">
                    <table class="table table-bordered table-sm">
                        <thead style="background-color: #757574 ; color : white">
                            <tr>
                                <th style="width: 10%">Product Code</th>
                                <th style="width: 10%">Product Name</th>
                                <th style="width: 10%">Product Scale</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: #ccccc8 ; color : black">
                            <form action="" method="">
                                <tr>
                                    <td>10254</td>
                                <td>Teddy Bear</td>
                                <td>1 : 14</td>
                                </tr>
                            </form>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>