body {
  padding: 50px;
  font: 16px "Segoe UI", Arial, sans-serif;
  background-color: #EAE9E5;
  margin-top: -50px;
  margin-left: -40px;
  margin-right: -40px;
}

a {
  color: #00B7FF;
}

h1{
  color: pink;
}

.bigmenu {
  width: 100%;
  margin-top: 10px;
  border: 0px solid #eaeaea;
}

.Lmenu {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #707070;
  padding: 20px 200px 430px 40px;
  vertical-align: top;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 250px;
}

.Rmenu {
  border: 5px solid red;
  padding: 0px 0px 0px 10px;
  vertical-align: top;
}

div#inline
{
    display:inline;
}

.HLmenu {
  position: absolute;
  width: 250px;
  margin-left: 10px;
}

.HLmenu2 {
  margin-top: 180px;
}

p.HLmenu{
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 1.3em;
  width: 100%;
}
.style_CH{
  margin-left: 20px;
}

.bigPic{
  margin-top: 10px;
  margin-left: 20px;
}

div.listPD{
  margin-top: 10px;
  margin-left: 300px;
}

.margin-pd{
  margin-right: 20px;
  margin-bottom: 20px;
}