h1 {
    color: pink;
}

h5.headerModal {
    color: rgb(33, 37, 41);
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.Lmenu {
    width: 25%;
    height: 980px;
    margin-left: 10px;
    padding: 30px 0px 0px 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #707070;
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 0;
    float: left;
}

.shPro {
    width: 72%;
    margin: 1% 1% 1% 1%;
    float: right;
    vertical-align: top;
}

.HLmenu {
    font-family: "Segoe UI";
    font-weight: 500;
    font-size: 150%;
    width: 230px;
    margin-left: 10px;
}

.style_CH {
    margin-left: 20px;
}

.bigPic {
    top: 0px;
    z-index: 0;
}

div.listPD {
    text-align: center;
    margin-left: 27%;
    margin-right: 1%;
}

.margin-pd {
    width: 18.5%;
}

.containerX {
    display: inline-block;
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.cardInform {
    /* border: 1px solid red; */
    width: 100%;
}